



#ClearArea {
          background-color: transparent;
            border-image: url(C:/Users/mylaptop30/PycharmProjects/midrasim/img/trash.png);
            background: none;
            border: none;
            background-repeat: none;
}


#TakePhotoButton {
            background-color: transparent;
            border-image: url(C:/Users/mylaptop30/PycharmProjects/midrasim/img/camera.png);
            background: none;
            border: none;
            background-repeat: none;
    }



#staticpointerbutton:checked {
            background-color: transparent;
            border-image: url(C:/Users/mylaptop30/PycharmProjects/midrasim/img/canceltarget.png);
            background: none;
            border: none;
            background-repeat: none;
    }

#StartVideoButton {
            background-color: transparent;
            border-image: url(C:/Users/mylaptop30/PycharmProjects/midrasim/img/play.png);
            background: none;
            border: none;
            background-repeat: none;

}
#StopVideoButton {
        background-color: transparent;
        border-image: url(C:/Users/mylaptop30/PycharmProjects/midrasim/img/pause.png);
        background: none;
        border: none;
        background-repeat: none;
}


#LogoLabel {
        background-color: transparent;
        border-image: url(C:/Users/mylaptop30/PycharmProjects/PuzzleSoft-Projects/surveillanceEldersPyQt/img/oie_transparent.png);
        background: none;
        border: none;
        background-repeat: none;

}

#main {
background:qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(106, 180, 214, 190), stop:1 rgba(255, 255, 255, 255));
background:#3C7A89;

}

#MainWindow {
background:qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(106, 180, 214, 190), stop:1 rgba(255, 255, 255, 255));
}

